<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Festival Reviews</title>
</head>
<%- include('../partials/header') %>
<body id="commentPic">
    
    <h2 style="color: orange;">Festival Reviews</h2>
    <hr>
    <center>
        <thead>
            <% comments.forEach(function(c) { %>
                <tr>
                    <div style="color: orange;"><%= c.text %></div><br>
                </tr>
                <% }) %>
            </thead>
            <tbody>
                <form action="/festivals/comments/<%= festivalId %>" method="POST">
                    <!-- Be sure name attributes of inputs match the model properties -->
                    <input style="color: orange;" name="text">
                    <button class="btn btn-danger purple" type="submit">ADD COMMENT</button>
                </form>
                

</body>