<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Festival</title>
</head>
<%- include('../partials/header') %>
<body style="color: orange;" id="newPic" >
    <center>
    <h2>New Festival:</h2><br>
    <form  action="/festivals/new" method="POST">
        <label style="color: orange; background-color: rgba(0, 0, 0, 0.8);">Festival Name:
            <input style="color: orange;"" class="addNew" type="text" name="title">
        </label><br><br>
        <label style="color: orange; background-color: rgba(0, 0, 0, 0.8);">Location:
            <input style="color: orange;"" class="addNew" type="text" name="location">
        </label><br><br>
        <label style="color: orange; background-color: rgba(0, 0, 0, 0.8);">Years Attended:
            <input style="color: orange;"" class="addNew" type="text" name="yearsAttended">
        </label><br><br>
        <label style="color: orange; background-color: rgba(0, 0, 0, 0.8);">Website:
            <input style="color: orange;"" class="addNew" type="text" name="websiteUrl">
        </label><br><br>
        <button style="color: orange;" type="submit" class="btn btn-success purple">Add</button>
    </form>
    </center>
</body>
</html>