<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
  <title>Festivals</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body id="userPic">
  <nav>
    <div class="nav-wrapper purple">
      <a style="color: orange;" href="#!" class="brand-logo center">Festival Tracker</a>
      <ul class="left hide-on-med-and-down">
        <li><a style="color: orange;" href="/festivals">Collection</a></li>
        <li><a style="color: orange;" href="/festivals/new">Add Festival</a></li>
        <li><a style="color: orange;" href="/users">Home</a></li>
      </ul>
    </div>
  </nav>
<html>
<body>
    <center><br><br><br><br><br>
      <h4 class="orange-text">Login to your account!</h5><br><br><br><br>
      <div class="container">
        <div class="z-depth-1 orange 4 row"  style="display: inline-block; padding: 20px 48px 0px 48px; border: 1px solid #EEE;">
          <form class="col s12" method="POST">
            <div class='row'>
               <button style="display: width: 100px" type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>
              <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons right">vpn_key</i>Login with Google</a>
              <% } %>
              </button>
            </div>
          </form>
        </div>
      </div>
    </center>
  </div>
</body>
</html>
</body>
</html>

      


            

 
